permissions: write-all # Equivalent to default permissions plus id-token: write
env:
  ESC_ACTION_OIDC_AUTH: true
  ESC_ACTION_OIDC_ORGANIZATION: pulumi
  ESC_ACTION_OIDC_REQUESTED_TOKEN_TYPE: urn:pulumi:token-type:access_token:organization
  ESC_ACTION_ENVIRONMENT: imports/github-secrets
  ESC_ACTION_EXPORT_ENVIRONMENT_VARIABLES: false
name: Publish Package to npmjs
on:
  release:
    types: [published]
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - name: Fetch secrets from ESC
      id: esc-secrets
      uses: pulumi/esc-action@v1
    - uses: actions/checkout@v3
      with: # get all the tags from git
        fetch-depth: 0
    - uses: actions/setup-node@v3
      with:
        node-version: '20.x'
    - run: yarn install
    - run: |
        cd backstage-plugin-pulumi
        #yarn install --frozen-lockfile
        
        # copy over the example npmrc file and publish
        cp ../../hack/.npmrc.example .npmrc
        cp ../../hack/publish.sh publish.sh
        ./publish.sh
        cd ..
        
        cd backstage-scaffolder-backend-pulumi
        #yarn install --frozen-lockfile
        
        # copy over the example npmrc file and publish
        cp ../../hack/.npmrc.example .npmrc
        cp ../../hack/publish.sh publish.sh
        ./publish.sh
        cd ..
        
        cd catalog-backend-module-pulumi
        #yarn install --frozen-lockfile
        
        # copy over the example npmrc file and publish
        cp ../../hack/.npmrc.example .npmrc
        cp ../../hack/publish.sh publish.sh
        ./publish.sh
      working-directory: plugins
      env:
        NPM_TOKEN: ${{ steps.esc-secrets.outputs.NPM_TOKEN }}
